@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-fira-code: "Fira Code", monospace;

  --color-dark-blue: #0A192F;
  --color-mid-blue: #A8B3D3;
  --color-light-blue: #C9D7F2;
  --color-dark-green: #44A694;
  --color-bright-green: #00FFD1;

  --shadow-header: 0 6px 8px rgba(0, 0, 0, 0.60);
  --shadow-footer: 0 -6px 8px rgba(0, 0, 0, 0.60);


  --breakpoint-dt: 1900px;
  --breakpoint-nt-lg: 1440px;
  --breakpoint-nt-sm: 1024px;
  --breakpoint-tb: 768px;
  --breakpoint-menu: 426px;
  --breakpoint-mb: 375px;
}

* {
  box-sizing: border-box;
}